body {
  text-align: center;
  background-image: url("../images/arena.jpg");
  background-attachment: fixed;
  background-repeat: round;
  background-size: 100%;
  color: #000;
  font-size: 20px;
  max-width: 100%;
}

#galeria {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/* GALERIA-CSS */

.logo {
  text-align: left;
  border-collapse: collapse;
  max-width: 500px;
  height: 500px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 20px; */
  /* align-items: center; */
  width: 422px;
  height: 591px;
  background-color: #2b3f65;
  border-radius: 13px;
  outline: 10px solid #e9bd42;
  cursor: pointer;
}

.btn-excluir {
  /* background-color: #000; */
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  width: 17%;
  position: absolute;
  /* border-radius: 50%; */
  /* background-image: url(../images/bloquear.png); */
  top: -3%;
  left: 91%;
}

.btn-excluir img {
  width: 50%;
  background-color: #292817;
  border-radius: 50%;
  cursor: pointer;
  /* border: ; */
}

.img-btn:hover {
  transform: scale(1.30); 
  background-color: rgb(255, 0, 0);
  transition: background-color 0.2s ease-in-out, transform 0.4s ease-in-out;
}

.box-items {
  display: flex;
  flex-direction: column;
}

.dog-card > img {
  align-self: center;
  width: 80%;
  height: 50%;
  border: solid #dce8e9;
  border-width: 8px 13px;
}

.dog-card ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 10px;
  padding-inline-start: 0; /* Remover o recuo à esquerda */
}

.dog-card:hover {
  transform: translateY(-15px) scale(1.03); 
  box-shadow: 0 10px 100px rgb(255, 251, 0);
  background-color: #92ebf1;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.4s ease-in-out;}

.dog-card li {
  display: flex;
  align-self: space-between;
  text-align: left;
  word-spacing: 100%;
  /* font-weight: bold; */
  width: 82%;
  height: 34px;
  background-color: #e9bd42;
  border: 7px solid #dce8e9;
}


.add-dog-box {
  display: flex;
  width: 100%;
  height: 100%;
  /* max-height: 100px; */
  justify-content: center;
  margin-top: 5%;
  /* background-color: #e9bd42; */
}

#dog-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* width: 20%;
  height: 40%; */
  background-color: #dce8e9;
  border-radius: 10%;
}


.submit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
}

#dog-form button {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-self: center; */
  align-self: center;
  background-color: #e9bd42;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  width: 97px;
  height: 80px;
  transition: 0.5s ease-in-out;
}


#form-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 5px gold;
  border: 1px solid gold;
  background-color: rgb(248, 225, 96);
  /* transform: rotate(360deg); */
}

#dog-form button img {
  width: 100%;
  /* border-radius: 100%; */
}

