body {
  text-align: center;
  background-image: url("../images/arena.jpg");
  background-attachment: fixed;
  background-repeat: round;
  background-size: 100%;
  color: #000;
  font-size: 20px;
  max-width: 100%;
}

#galeria {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/* GALERIA-CSS */

.logo {
  text-align: left;
  border-collapse: collapse;
  max-width: 500px;
  height: 500px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 20px; */
  /* align-items: center; */
  width: 422px;
  height: 591px;
  background-color: #2b3f65;
  border-radius: 13px;
  outline: 10px solid #e9bd42;
  cursor: pointer;
}

.box-items {
  display: flex;
  flex-direction: column;
}

.dog-card img {
  align-self: center;
  width: 80%;
  height: 50%;
  border: solid #dce8e9;
  border-width: 8px 13px;
}

.dog-card ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 10px;
  padding-inline-start: 0; /* Remover o recuo à esquerda */
}

.dog-card:hover {
  transform: translateY(-15px) scale(1.03); 
  box-shadow: 0 10px 100px rgb(255, 251, 0);
  background-color: #92ebf1;
  transition: background-color 0.4s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.8s ease-in-out;}

.dog-card li {
  display: flex;
  align-self: space-between;
  text-align: left;
  width: 82%;
  height: 34px;
  background-color: #e9bd42;
  border: 7px solid #dce8e9;
}
